<nav class="navbar navbar-expand-lg bg-body-secondary">
    <div class="container">
        <a class="navbar-brand" routerLink="home">Notes</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 gap-4 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" routerLink="home" routerLinkActive="border-bottom border-2 border-dark">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="login" routerLinkActive="border-bottom border-2 border-dark">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="register" routerLinkActive="border-bottom border-2 border-dark">Register</a>
                </li>
                <li class="nav-item cursor-pointer">
                    <a class="nav-link">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>