<div class="home">
    <!-- add model -->
    <button type="button" class="btn btn-primary d-block mt-3 m-auto" data-bs-toggle="modal"
        data-bs-target="#exampleModal" data-bs-whatever="@mdo">Add New Note</button>

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">New Note</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form [formGroup]="addNoteForm" (ngSubmit)="addNote()">
                        <div class="mb-3">
                            <label for="title" class="col-form-label">Title:</label>
                            <input type="text" class="form-control" formControlName="title" id="title">

                            <!-- validation -->
                            @if (addNoteForm.get('title')?.errors && (addNoteForm.get('title')?.touched ||
                            addNoteForm.get('title')?.dirty)) {
                            <div class="alert alert-danger m-0 p-1 shadow">
                                @if (addNoteForm.get('title')?.getError('required')) {
                                <span>Title is required</span>
                                }
                            </div>
                            }
                        </div>
                        <div class="mb-3">
                            <label for="content" class="col-form-label">content:</label>
                            <textarea class="form-control" formControlName="content" id="content"></textarea>

                            <!-- validation -->
                            @if (addNoteForm.get('content')?.errors && (addNoteForm.get('content')?.touched ||
                            addNoteForm.get('content')?.dirty)) {
                            <div class="alert alert-danger m-0 p-1 shadow">
                                @if (addNoteForm.get('content')?.getError('required')) {
                                <span>Content is required</span>
                                }
                            </div>
                            }
                        </div>

                        @if (errMsg) {
                        <p class="w-50 mx-auto shadow alert alert-danger p-1 text-center">{{errMsg}}</p>
                        }

                        <div class="modal-footer">
                            <button type="submit" [disabled]="addNoteForm.invalid || isLoading" class="btn btn-primary">
                                Add Note
                                @if (isLoading) {
                                <i class="fas fa-spinner fa-spin"></i>
                                }
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- display notes -->
    @if (isLoading) {
    <div class="loader">
        <div class="justify-content-center jimu-primary-loading"></div>
    </div>
    }@else {

    @if (noteList.length !=0) {
    <div class="display-notes my-3">
        <div class="container">
            <input [(ngModel)]="searchTerm" type="search" class="form-control w-50 me-auto shadow mb-2"
                placeholder="Search by title......">

            <div class="row">
                @for (note of noteList | search:searchTerm; track $index) {
                <div class="col-md-3">
                    <div class="card my-2 bg-body-tertiary shadow">
                        <div class="card-body">
                            <h5 class="card-title">{{note.title}}</h5>
                            <p class="card-text">{{note.content}}</p>
                            <div class="btn-display d-flex align-items-center justify-content-between">
                                <button class="card-link btn btn-warning" data-bs-toggle="modal"
                                    data-bs-target="#updateModel" data-bs-whatever="@mdo"
                                    (click)="setUpdateForm(note , note._id)">Update</button>
                                <!-- <button class="card-link btn btn-danger" (click)="deleteNote(note._id)">Delete</button> -->

                                <button class="card-link btn btn-danger" (click)="confirmBox(note._id)">Delete</button>
                            </div>
                        </div>
                    </div>
                </div>
                }
            </div>
        </div>
    </div>
    }@else {
        <div class="empty-cart flex flex-col items-center justify-center text-center mt-5">
            <h2 class="display-5 fw-medium">There Is No Notes Yet <i class="fa-regular fa-face-smile"></i></h2>
        </div>
    }
    }

    <!-- update model -->
    <div class="modal fade" id="updateModel" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Update Note</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form [formGroup]="updateNoteForm" (ngSubmit)="updateNote()">
                        <div class="mb-3">
                            <label for="title" class="col-form-label">Title:</label>
                            <input type="text" class="form-control" formControlName="title" id="title">

                            <!-- validation -->
                            @if (addNoteForm.get('title')?.errors && (addNoteForm.get('title')?.touched ||
                            addNoteForm.get('title')?.dirty)) {
                            <div class="alert alert-danger m-0 p-1 shadow">
                                @if (addNoteForm.get('title')?.getError('required')) {
                                <span>Title is required</span>
                                }
                            </div>
                            }
                        </div>
                        <div class="mb-3">
                            <label for="content" class="col-form-label">content:</label>
                            <textarea class="form-control" formControlName="content" id="content"></textarea>

                            <!-- validation -->
                            @if (addNoteForm.get('content')?.errors && (addNoteForm.get('content')?.touched ||
                            addNoteForm.get('content')?.dirty)) {
                            <div class="alert alert-danger m-0 p-1 shadow">
                                @if (addNoteForm.get('content')?.getError('required')) {
                                <span>Content is required</span>
                                }
                            </div>
                            }
                        </div>

                        @if (errMsg) {
                        <p class="w-50 mx-auto shadow alert alert-danger p-1 text-center">{{errMsg}}</p>
                        }

                        <div class="modal-footer">
                            <button type="submit" [disabled]="updateNoteForm.invalid || isLoading"
                                class="btn btn-warning">
                                Update
                                @if (isLoading) {
                                <i class="fas fa-spinner fa-spin"></i>
                                }
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>